{% extends "wagtailadmin/base.html" %}
{% load wagtailimages_tags %}
{% load i18n %}

{% block titletag %}{% trans "Images" %}{% endblock %}
{% block extra_js %}
    {{ block.super }}
    <script>
        window.headerSearch = {
            url: "{% url 'wagtailimages:index' %}",
            termInput: "#id_q",
            targetOutput: "#image-results"
        }

        $(function() {
            $('#collection_chooser_collection_id').change(function() {
                this.form.submit();
            })
        });
    </script>
{% endblock %}

{% block content %}
    {% trans "Images" as im_str %}

    {% if user_can_add %}
        {% comment %}
        {% trans "Add an image" as add_img_str %}
        {% include "wagtailadmin/shared/header.html" with title=im_str add_link="wagtailimages:add_multiple" icon="image" add_text=add_img_str search_url="wagtailimages:index" %}
        {% endcomment %}
        {% include "wagtailadmin/shared/header.html" with title=im_str icon="image" search_url="wagtailimages:index" %}
    {% else %}
        {% include "wagtailadmin/shared/header.html" with title=im_str icon="image" search_url="wagtailimages:index" %}
    {% endif %}

    <div class="nice-padding">
        {% comment %}
        {% if collections %}
            <form class="image-search search-bar" action="{% url 'wagtailimages:index' %}" method="GET">
                <ul class="fields">
                    {% include "wagtailadmin/shared/collection_chooser.html" %}
                </ul>
            </form>
        {% endif %}
        {% endcomment %}
        <div style="float: right;">
            <div class="addbutton">
                        <a href="{% url 'wagtailimages:add_multiple' %}?folder={{ current_folder.id }}" class="button button-small bicolor icon icon-plus">Add image</a>
                        {% if current_folder %}
                            <a href="{% url 'wagtailimages:add_folder_to_folder' current_folder.id %}" class="button button-small bicolor icon icon-plus">Add folder</a>
                            <a href="{% url 'wagtailimages:edit_folder' current_folder.id %}" class="button button-small bicolor icon icon-edit">Edit folder</a>
                            {#<a href="/admin/images/folder/{{ current_folder.id }}/" class="button icon text-replace white icon-edit">Edit Folder</a>#}
                            <a href="{% url 'wagtailimages:delete_folder' current_folder.id %}" class="button button-small bicolor icon no icon-bin">Delete folder</a>
                            {#<a href="{% url 'wagtailimages:delete_folder' current_folder.id %}"><span class="button icon text-replace no icon-bin">Delete Folder</span></a>#}
                        {% else %}
                            <a href="{% url 'wagtailimages:add_folder' %}" class="button button-small bicolor icon icon-plus">Add folder</a>
                        {% endif %}
            </div>
        </div>
        {% if not current_folder %}
            <h2>Folders</h2>
            {# No folder so we use folders in the root #}
            <div id="image-results">
                <ul class="listing folders">
                    {% for folder in folders %}
                        <li class="icon icon-larger icon-folder-inverse"><a href="?folder={{ folder.id }}">{{ folder.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
           <h2>{{ current_folder.title }}</h2>
            {% if current_folder.get_breadcrumbs %}
            <div style="display: block; clear: both;">
            <ul class="breadcrumb">
                <li class="home"><a href="{% url 'wagtailimages:index' %}" class="icon icon-home text-replace">Home</a></li>
                {% for fb in current_folder.get_breadcrumbs %}
                <li><a href="{% url 'wagtailimages:index' %}?folder={{ fb.id }}">{{ fb.title }}</a></li>
                {% endfor %}
            </ul>
            </div>
            {% endif %}
            {# We are in a folder so only show folders sub to this #}
            <div id="image-results">
                <ul class="listing folders">
                    {% comment %}
                    {% if current_folder.get_parent %}
                        <li class="icon icon-larger icon-arrow-up-big"><a href="{% url 'wagtailimages:index' %}?folder={{ current_folder.get_parent.id }}">{{ current_folder.get_parent.title }}</a></li>
                    {% else %}
                        <li class="icon icon-larger icon-home"><a href="{% url 'wagtailimages:index' %}">Root folder</a></li>
                    {% endif %}
                    {% endcomment %}
                    {% for folder in current_folder.get_subfolders %}
                        <li class="icon icon-larger icon-folder-inverse"><a href="?folder={{ folder.id }}">{{ folder.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div id="image-results">
            {% include "wagtailimages/images/results.html" %}
        </div>
    </div>
    
{% endblock %}
